---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import AboutSection from "../components/AboutSection.astro";
import BusinessSection from "../components/BusinessSection.astro";
import GlobalSection from "../components/GlobalSection.astro";
import TechnologySection from "../components/TechnologySection.astro";
import LeadershipSection from "../components/LeadershipSection.astro";
import StrategySection from "../components/StrategySection.astro";
import Footer from "../components/Footer.astro";
import ClientEffects from "../components/ClientEffects.astro";
---

<BaseLayout title="丰麒集团有限公司 | FENGQI GROUP">
  <div class="cursor" id="cursor"></div>
  <div class="cursor-ring" id="cursorRing"></div>

  <Header />
  <Hero />
  <AboutSection />
  <BusinessSection />
  <GlobalSection />
  <TechnologySection />
  <LeadershipSection />
  <StrategySection />
  <Footer />
  <ClientEffects />
</BaseLayout>